.banner {
  background-image: url('../../images/banner.jpg');
  /* background-image: linear-gradient(to right, #635dc0, #3027ae); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
}

.banner > h1 {
  margin: 5vmax;
  font: 600 2.6vmax 'Roboto';
  letter-spacing: 1px;
}

.banner > p {
  font: 300 2.1vmax 'Lucida Sans';
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: rgb(121, 112, 217);
  border: 1px solid rgb(121, 112, 217);
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1.6vmax 'Roboto';
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: '';
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 68%, 0 100%, 100% 100%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.9vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 90vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 30vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: rgb(48, 48, 48);
  margin: 1.5vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
}

.productCard > img {
  width: 100%;
}

.productCard > div {
  margin: 0.5vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productCard > p {
  font-family: 'Roboto';
  font-size: 2.5vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
  font-weight: 600;
}

.productCard > div > span {
  margin: 0.5vmax;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font: 300 2.3vmax 'Roboto';
}

.productCard > span {
  margin: 0.5vmax;
  color: rgb(98, 87, 228);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.6vmax;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

@media screen and (min-width: 500px) {
  .productCard {
    width: 28vmax;
  }
  .productCard > p {
    font-size: 2.6vmax;
  }

  .productCard > div {
    margin: 0vmax;
  }

  .productCard > span {
    font-size: 2vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 2vmax 'Roboto';
  }
}

@media screen and (min-width: 750px) {
  .productCard {
    width: 25vmax;
  }

  .productCard > p {
    font-size: 2.4vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 2.2vmax 'Roboto';
  }
}
@media screen and (min-width: 900px) {
  .productCard {
    width: 17vmax;
  }
  .productCard > p {
    font-size: 1.6vmax;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1.3vmax 'Roboto';
  }
}
